# Python compiled files and other common Python ignores
*.pyc
*.pyo
*.egg-info/
__pycache__/

# Common development files
*.log
*.swp
*.swo
.DS_Store

# Model folder except README
backend/model/*
!backend/model/README.md

# Additional files
*.ipynb